<div class="formulario">
  <form #LibroForm = "ngForm" (ngSubmit)="registrarLibros(LibroForm)">
    <div class="container">
        <input type="text" id="txtIdLibro" name="txtIdLibro" class="d-none">
        <div class="row mt-2">
            <div class="col-md-4 col-sm-12">
              <div class="row">
                <input type="text" class="form-control" name="IdLibro" id="IdLibro" 
                [(ngModel)] = "this.data_api.seleccionarLibro.IdLibro">
                <label for="txtCodigoLibro">Codigo de libro</label>
                <input type="text" id="Codigo" name="Codigo" title="Codigo de libro" placeholder="Ingrese el codigo del libro..." 
                class="form-control" maxlength="20"  required
                [(ngModel)]="this.data_api.seleccionarLibro.Codigo"  onkeypress="return validarCodigoLibro(event);">
                <small id="alertCodigo" class="text-danger">Rellene el campo de codigo libro!</small>
              </div>
                <div class="row">
                  <label for="txtTituloLibro">Titulo del libro</label>
                  <input type="text" id="Titulo" name="Titulo" title="Titulo de libro" placeholder="Ingrese el titulo del libro..." 
                  class="form-control" maxlength="20" required
                  [(ngModel)]="this.data_api.seleccionarLibro.Titulo" onkeypress="return validarTituloLibro(event);">
                  <small id="alertTitulo" class="text-danger">Rellene el campo de titulo de libro!</small>
                </div>
                <div class="row">
                  <label for="txtAutorLibro">Autor del libro</label>
                  <input type="text" id="Autor" name="Autor" title="Autor del libro" placeholder="Ingrese el nombre del autor del libro..." 
                  class="form-control" maxlength="20" required
                  [(ngModel)]="this.data_api.seleccionarLibro.Autor" onkeypress="return validarAutorLibro(event);">
                  <small id="alertAutor" class="text-danger ">Rellene el campo de autor de libro!</small>
                </div>
                <div class="row">
                  <label for="txtPrecioLibro">Precio de libro</label>
                  <input type="text" id="Precio" name="Precio" title="Precio de libro" placeholder="Ingrese precio del libro..."
                  class="form-control" maxlength="20" required
                   [(ngModel)]="this.data_api.seleccionarLibro.Precio" onkeypress="return valideKey(event);">
                   <small id="alertPrecio" class="text-danger ">Rellene el campo de precio de libro!</small>
                </div>
                <div class="row">
                  <label for="txtLinkAmazon">Link amazon</label>
                  <input type="text" id="LinkAmazon" name="LinkAmazon" title="Link de amazon" placeholder="Ingrese el link de amazon..." 
                  class="form-control" required
                  [(ngModel)]="this.data_api.seleccionarLibro.LinkAmazon" onkeypress="return validarLinkLibro(event);">  
                  <small id="alertLink" class="text-danger">Ingrese el link del libro!</small>           
                </div>
                <div class="row">
                  <button type="submit" onclick="validarCampos();" title="Guardar"class="btn btn-primary mb-2 mt-2">Guardar</button>
                </div>       
            </div>            <div class="col-md-8 col-sm-12">
                    <label for="">Busqueda</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Ingrese el libro a buscar.." aria-describedby="inputGroupPrepend2">
                    </div>
                    <br>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody id="librosTabla">
                          <tr *ngFor = "let libro of Respuesta ; index as i">
                            <th scope="row">{{libro.IdLibro}}</th>
                            <td style="text-align: center;">{{libro.Codigo}}</td>
                            <td style="text-align: center;">{{libro.Titulo}}</td>
                            <td style="text-align: center;">{{libro.Autor}}</td>
                            <td style="text-align: center;">{{libro.Precio}}</td>                            
                            <td>                                
                                
                                <button data-toggle="modal" data-target="#exampleModal" style="width: 100%;" type="button" id="btnEditar" name="btnEditar" class="btn btn-warning mb-1" title="Editar libro"><i class="far fa-edit"></i></button>
                                
                                <a (click)="eliminarLibros(libro.IdLibro)" style="width: 100%;" type="button" id="btnEliminar" name="btnEliminar" class="btn btn-danger" title="Eliminar libro"><i class="far fa-trash-alt"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modalx<x<z -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 id="tituloModal">Libro: </h2>
        <div class="row">
          <div class="col-md-6">
            <label>Codigo de libro</label>
            <input type="text" class="form-control" id="Codigo" name="Codigo" [(ngModel)]="this.data_api.seleccionarLibro.Codigo" >
          </div>
          <div class="col-md-6">
            <label>Titulo de libro</label>
            <input type="text" id="txtEditTitulo" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="txtEditAutor">Autor</label>
            <input type="text" id="txtEditAutor" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="txtEditPrecio">Precio</label>
            <input type="text" id="txtEditPrecio" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="txtEditLink">Link</label>
            <input type="text" id="txtEditLink" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>