<div class="formulario">
  <form #LibroForm = "ngForm" (ngSubmit)="registrarLibros(LibroForm)">
    <div class="container">
        <input type="text" id="txtIdLibro" name="txtIdLibro" class="d-none">
        <div class="row mt-2">
            <div class="col-md-4 col-sm-12">
                <label for="txtCodigoLibro">Codigo de libro</label>
                <input type="text" id="Codigo" name="Codigo" title="Codigo de libro" placeholder="Ingrese el codigo del libro..." 
                class="form-control" maxlength="20"  required
                [(ngModel)]="this.data_api.seleccionarLibro.Codigo">
                <label for="txtTituloLibro">Titulo del libro</label>
                <input type="text" id="Titulo" name="Titulo" title="Titulo de libro" placeholder="Ingrese el titulo del libro..." 
                class="form-control" maxlength="20" required
                [(ngModel)]="this.data_api.seleccionarLibro.Titulo">
                <label for="txtAutorLibro">Autor del libro</label>
                <input type="text" id="Autor" name="Autor" title="Autor del libro" placeholder="Ingrese el nombre del autor del libro..." 
                class="form-control" maxlength="20" required
                [(ngModel)]="this.data_api.seleccionarLibro.Autor">
                <label for="txtPrecioLibro">Precio de libro</label>
                <input type="text" id="Precio" name="Precio" title="Precio de libro" placeholder="Ingrese precio del libro..."
                class="form-control" maxlength="20" required
                 [(ngModel)]="this.data_api.seleccionarLibro.Precio">
                <label for="txtLinkAmazon">Link amazon</label>
                <input type="text" id="LinkAmazon" name="LinkAmazon" title="Link de amazon" placeholder="Ingrese el link de amazon..." 
                class="form-control" required
                [(ngModel)]="this.data_api.seleccionarLibro.LinkAmazon">                    
                <button type="submit" title="Guardar"class="btn btn-primary mb-2 mt-2">Guardar</button>
            </div>            <div class="col-md-8 col-sm-12">
                    <label for="">Busqueda</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Ingrese el libro a buscar.." aria-describedby="inputGroupPrepend2">
                    </div>
                    <br>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let libro of Respuesta ; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td style="text-align: center;">{{libro.Codigo}}</td>
                            <td style="text-align: center;">{{libro.Nombre}}</td>
                            <td style="text-align: center;">{{libro.Autor}}</td>
                            <td style="text-align: center;">{{libro.Precio}}</td>                            
                            <td>
                                <button style="width: 100%;" type="button" id="btnEditar" name="btnEditar" class="btn btn-info mb-1" title="Ver detalles de libro"><i class="far fa-eye center"></i></button>
                                
                                <button style="width: 100%;" type="button" id="btnEditar" name="btnEditar" class="btn btn-warning mb-1" title="Editar libro"><i class="far fa-edit"></i></button>
                                
                                <button style="width: 100%;" type="button" id="btnEliminar" name="btnEliminar" class="btn btn-danger" title="Eliminar libro"><i class="far fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </form>
</div>

