<div class="formulario">
    <form #LibroForm = "ngForm">
        <div class="container">
            <input type="text" id="txtIdLibro" name="txtIdLibro" class="d-none">
            <div class="row mt-2">
                <div class="col-md-4 col-sm-12">
                    <label for="txtCodigoLibro">Codigo de libro</label>
                    <input type="text" id="txtCodigoLibro" title="Codigo de libro" placeholder="Ingrese el codigo del libro..." name="txtCodigoLibro" class="form-control" maxlength="20"  required>
                    <label for="txtTituloLibro">Titulo del libro</label>
                    <input type="text" id="txtTituloLibro" title="Titulo de libro" placeholder="Ingrese el titulo del libro..." name="txtTituloLibro" class="form-control" maxlength="20" required>
                    <label for="txtAutorLibro">Autor del libro</label>
                    <input type="text" id="txtAutorLibro" title="Autor del libro" placeholder="Ingrese el nombre del autor del libro..." name="txtAutorLibro" class="form-control" maxlength="20" required>
                    <label for="txtPrecioLibro">Precio de libro</label>
                    <input type="text" id="txtPrecioLibro" title="Precio de libro" placeholder="Ingrese precio del libro..." name="txtPrecioLibro" class="form-control" maxlength="20" required>
                    <label for="txtLinkAmazon">Link amazon</label>
                    <input type="text" id="txtLinkAmazon" title="Link de amazon" name="txtLinkAmazon" placeholder="Ingrese el link de amazon..." class="form-control" required>                    
                    <button type="submit" title="Guardar"class="btn btn-primary mb-2 mt-2">Guardar</button>
                </div>
                <div class="col-md-8 col-sm-12">
                    <label for="">Busqueda</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Ingrese el libro a buscar.." aria-describedby="inputGroupPrepend2">
                    </div>
                    <br>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let libro of Respuesta.ObjetoRespuesta ; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td style="text-align: center;">{{libro.Codigo}}</td>
                            <td style="text-align: center;">{{libro.Nombre}}</td>
                            <td style="text-align: center;">{{libro.Autor}}</td>
                            <td style="text-align: center;">{{libro.Precio}}</td>                            
                            <td>
                                <button style="width: 100%;" type="button" id="btnEditar" name="btnEditar" class="btn btn-info mb-1" title="Ver detalles de libro"><i class="far fa-eye center"></i></button>
                                
                                <button style="width: 100%;" type="button" id="btnEditar" name="btnEditar" class="btn btn-warning mb-1" title="Editar libro"><i class="far fa-edit"></i></button>
                                
                                <button style="width: 100%;" type="button" id="btnEliminar" name="btnEliminar" class="btn btn-danger" title="Eliminar libro"><i class="far fa-trash-alt"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </form>
</div>

