
<div class="container-fluid">
    <div class="parallax"></div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="my-col col-xs-3 col-sm-3 col-md-3 mt-3" *ngFor="let libro of Respuesta">
            <div class="my-card ">
                <div class="card shadow p-3 mb-5 bg-white rounded text-center" style="background-color: #F2F4F6;">
                    <p>
                        <img class="card-img-top" src="https://dummyimage.com/400x400/000/fff" alt="Card image cap">
                    </p>                    
                    <div class="card-body">
                      <h5 class="card-title">{{libro.Titulo}}</h5>
                      <p class="card-text">{{libro.Autor}}</p>
                      <a href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="SeleccionarLibro(libro)">Comprar</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Libro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto">
            <div class="col-md-5">
                <img class="card-img-top" src="https://dummyimage.com/400x400/000/fff" alt="Card image cap">
            </div>  
            <div class="col-md-6">
                <div class="row">
                    <h3><b>Codigo de libro : {{this.data_api.seleccionarLibro.Codigo}} </b></h3>
                </div>
                <div class="row">
                    <h4>Titulo de libro: {{this.data_api.seleccionarLibro.Titulo}}</h4>
                </div>
                <div class="row"><h5>Autor de libro: {{this.data_api.seleccionarLibro.Autor}}</h5></div>
            </div></div>
          <div class="row mx-auto">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sapiente molestias dicta beatae recusandae inventore sint in optio similique, voluptatem tenetur labore fugit quam, corporis soluta id rem debitis adipisci.</p>
          </div>
          <div class="row">
              <button type="button" class="btn btn-lg btn-success mx-auto">Comprar</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>