.parallax {
    /* The image used */
    background-image: url("/assets/unnamed.jpg");
  
    /* Set a specific height */
    height: 300px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.my-card .card img{
  width: 120px;
  height: 120px;
  border-radius: 10%;   
}
.bg-transparent{
   background-color:rgba(1,1,1,0.5) !important;
   z-index: 1;
}
.card:hover{
  border-color: rgb(42, 104, 219);
  cursor: pointer;
}