.parallax {
    /* The image used */
    background-image: url("/assets/unnamed.jpg");
  
    /* Set a specific height */
    height: 300px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }